.social-login {
  margin-top: 20px;
}

.social-login p {
  font-size: 14px;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: space-around;
}

.btn-social {
  background-color: #f1f1f1;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-social:hover {
  background-color: #ddd;
}
